<div class="modal">
    <div class="modal-content">
    <form (ngSubmit)="submit()" #userForm="ngForm">
 <label>ชื่อ-สกุล</label>
  <input [(ngModel)]="newUser.first_name_th" type="text" name="first_name_th" required>
  <input [(ngModel)]="newUser.last_name_th" type="text" name="last_name_th" required>
       <label>วันเกิด</label>
  <input type="date" [(ngModel)]="newUser.birth_date" name="birth_date" required>
  <div>
  อายุ:
  <ng-container *ngIf="calculateAge !== null; else emptyAge">
    {{ calculateAge }} ปี
  </ng-container>

  <ng-template #emptyAge>
    xx ปี
  </ng-template>
</div>
 <label>ที่อยู่</label>
      <textarea 
        rows="3"
        [(ngModel)]="newUser.addresses"
        name="addresses">
        </textarea>
         <button type="submit" [disabled]="userForm.invalid">
        Save
      </button>
        <button type="button" (click)="cancel()">Cancel</button>
    </form>
    </div>
</div>
